[submodule "ThirdParty/NeuralAmpModelerCore"]
	path = ThirdParty/NeuralAmpModelerCore
	url = https://github.com/sdatkinson/NeuralAmpModelerCore.git
[submodule "ThirdParty/ASIOSDK"]
	path = ThirdParty/ASIOSDK
	url = https://github.com/atij666studio/build-deps
